picture {
  border-radius: 12px;
}

.drag-overlay-status-page {
  background-color: alpha(@accent_bg_color, 0.5);
  color: @accent_fg_color;
  padding: 32px;
}

.blurred {
  filter: blur(6px);
}

.background-fill {
  background-color: @window_bg_color;
}
